{% extends "__base.html" %}

{% block title %}Изменение бренда{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Изменение бренда {{ brand }}</h1>
            {{ form.non_field_errors }}
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}:</label>
                    {{ form.title }}
                </div>
                {% if form.title.errors %}
                <div class="alert alert-danger">
                    {{ form.title.errors }}
                </div>
                {% endif %}

                <div class="mb-3">
                    <label for="id_slug" class="form-label">Slug:</label>
                    <input type="text" value="{{ brand.slug }}" id="id_slug" disabled>
                </div>

                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="{{ form.logo.id_for_label }}" name="logo">
                </div>
                {% if form.logo.errors %}
                <div class="alert alert-danger">
                    {{ form.logo.errors }}
                </div>
                {% endif %}

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
