<!-- START HEADER -->
<div class="container-fluid">
    <div class="row">
        <div class="col-auto pt-3">
            <a href="#" class="btn btn-dark">PS-Taxi</a>
        </div>
        <div class="main-menu-content col-auto">
            <ul>
                <li><a href="#" class="text-decoration-none">Домой</a></li>
                <li><a href="{% url 'motorpool:brand_list' %}" class="text-decoration-none">Бренды</a></li>
                <li><a href="#" class="text-decoration-none">Автомобили</a></li>
            </ul>
        </div>
        <div class="col-auto pt-3">
            <a href="#" class="btn btn-outline-primary mr-1">Регистрация</a>
            <a href="#" class="btn btn-primary">Войти</a>
        </div>
    </div>
</div>
<!-- END HEADER -->
